each tweet, index in tweets
    .panel.panel-primary
            .panel-body
                p #{tweet.tweet}
                p #{tweet.created}
                .row
                    .col-xs-12
                        