<div class="col-xs-4 col-md-4 col-md-offset-4">
    <h2 class="text-center">New User</h2>
    <form name="loginform" ng-submit="register()">
        <div class="form-group">
            <input type="text" name="name" ng-model="user.name" class="form-control" placeholder="Fullname" required/>
        </div>
        <div class="form-group">
            <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Email" required/>
        </div>
        <div class="form-group">
            <input type="text" name="username" ng-model="user.username" class="form-control" placeholder="Username" required/>
        </div>
        <div class="form-group">
            <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Password" required/>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Register</button>
        <div class="text-center"><a ui-sref="login" class="btn btn-link">Login?</a></div>
    </form>
</div>